


#title{
background-color: #ef8172;
color: #fff;
background-image:url("/Users/tombachar/Desktop/Web Development/Soho Train/images/trainspotting.jpg");
background-size:cover;
background-repeat: no-repeat;
}



.container-fluid{
  padding: 3% 15%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight: 900;
}

h1 {

font-size: 3rem;
line-height: 1.5;

}

h3 {

  font-weight: 800;

}

h2{

  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}



body{
font-family: 'Montserrat';

}

.landingText{
  padding: 0 80px 0 0;
}

/* Navigation Bar */


.navbar{
  padding: 0 0 4.5rem 0;
  margin-bottom: 5%;
}

.navbar-item{
padding-right: 18px;
padding-left: 18px;

}

.nav-link{
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;

}

/* Download Buttons */

.download-bttn{
  margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image{
width:60%;
transform: rotate(15deg);


}



/* features */

#features{
  margin: 10rem 0 10rem 0;
  background-color: #fff;


}

.icons{
  font-size:100px;
  color:#ef8172;
  margin-bottom: 15px;
  /* margin: auto; */

}
.icons:hover{
  color:#4D96FF;
}

.feature-box{
  text-align: center;

}

.feature-desc{
  padding: 0 20% 0 20%;

}


/* Testimonials */

#testimonials{

  text-align: center;
  background-color:#ef8172;
  color: #ffff;
  position: relative;

}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;

}

.carousel-item{
    padding: 7% 7%;
}


/* Press */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 50px 50px;
}


/* Pricing */

#pricing{
padding:100px;
text-align: center;

}

.container-1{
padding: 2.5% 10%;
}


@media (max-width: 1028px) {

#title{

  text-align: center;

}

.landingText{
  font-size:3rem;
  padding-left: 10px;
  padding-right: 10px;
}

.title-image{
  position: static;
  transform: rotate(0);
  margin-left: 80px;
  margin-top: 20px;
}

}

/* CTA */

#cta{
  background-color: #ef8172;
  text-align: center;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  color: #ffff;
}


/* Footer */

#footer {
background-color: #fff;
text-align: center;
margin-top: 5%;
margin-bottom: 2%;


}
